@import "Variable.scss";
.coin-date{
    text-align: center;
    text-transform: uppercase;
    color: $Dark-grayish-blue;
    font-size: 1rem;
}
.coinDetails{
width: 100%;
height: 100%;
margin: 2rem;
padding: 3rem;
   
>div{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
     img{
        width: 5rem;
        height: 5rem;
        object-fit: contain;
     }
     p{
       margin-top: 0.7rem;
       color: $dark-blue;
     }
     h4{
        margin-top: 0.7rem;
        font-size: 1.20rem;
        font-weight: 600;
     }
     .priceChange{
        display: flex;
        align-items: center;
        p{
            padding: 0.2rem;
            color: $dark-blue;
        }  
     }
     .market_Rank{
        font-size: 1.30rem;
        background-color: black;
        color: white;
        padding: 0.5rem;
        width: 5rem;
     }
     .market{
        margin: 1rem 0rem;
        border-top: 2px solid black;
        display: flex;
        flex-direction: column;
   
       div{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        p{
            font-size: 1.10rem;
            color: $dark-blue;
        }

       }
     }
    }
}


.chart{
    width: 90%;
    margin: 2rem;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    button{
        width: 3.30rem;
        height: 2.30rem;
        padding: 0.5rem;
      font-size: 0.8rem;

      border-radius: 5px;
      outline: none;
      border: 1px solid black;
      background-color: black;
      color: white;
      cursor: pointer;
      margin: 1rem;
      transition: all 0.3s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
}

@media screen and (max-width:700px){
    .coinDetails{
        margin: 1rem;
        padding: 1rem;
        >div{
            width: 100%;
           
        }
    }
    .market{
      div{
        align-items: center;
        padding: 0%;

        p{
            font-size: 1rem;
        }
      }
    }
}